.mainHeaderBottom{
  font-family: 'Raleway',sans-serif;
  @font-face{
    font-family: 'Raleway-medium'
  }
  @font-face{
    font-family: 'sans-serif-medium'
  }
}

.mainHeaderBottomContainer{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mainHeaderBottomRow{
  max-width:1170px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.mainHeaderBottomLogo{
  height: 100%;
}

.mainHeaderBottomLists{
position: relative;
  left:8%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.mainHeaderBottomButton{
  cursor: pointer;
  border: 2px solid #28d2d0!important;
  padding: 14px 18px!important;
  background: none!important;
  font: 14px "Lato";
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px;
  color:#28d2d0;
}

.mainLogo{
    width: 158px;
    height: 53px;
    display: inline-block;
    vertical-align: top;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    zoom: 1;
    background-image:url(../../images/squadhelp-logo-color.jpg) ;
}

.mainHeaderBottomLogo a{
  width: 158px;
  height: 53px;
}

.mainHeaderBottomButton:hover{
  background:#28d2d0!important;
  color:white;
}

  .SublistTitle{
    position: relative;
  margin-right:30px;
  font-size: 16px;
  cursor: pointer;
  color: #495d8b;
}

.SublistTitle:hover{
  margin-right:30px;
  font-size: 16px;
  color:#f27e51;
}
/*
.main-menu > li:hover .sub-menu {
  display: block;
}
ul.menu > li:hover > ul.submenu {
  display: block;
}*/

.mainHeaderBottomFlexLists:hover .mainHeaderBottomSubLists {
    display: block;
  }

.SublistTitle i{
  color: #ccc;
}

/*.SublistTitle ul{
  position: fixed;

}*/

.mainHeaderBottomFlexLists{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
}


.mainHeaderBottomSubLists{
  margin-top:15px;
  position:absolute;
  top:22px;
  text-align: center;
  background: #9ca8b7;
  display: none;
  min-width:160px ;
}
