.mainSignUpAndLogin{
  width:80%;
  position:absolute;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  text-align: right;
 float: right;
  //margin: auto;
  //margin-left: 35%;
  //float: left;
  height: 40px;
}
