.main{
  //left:-3%;
  width:38%;
  position:absolute;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  //padding-right: 15px;
  //padding-left: 15px;
  //margin-right:5%;
  //text-align: right;
}

.mainContactDetails{
  width: auto;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  line-height: 40px;
  padding: 0 15px;
  display: inline-block;
  box-sizing: border-box;
}

.anchor {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;}
